@import '../variables';
@import '../mixins';
@import '../typography';
@import '../grid';
@import '../mixins';

html, body {
  min-height: 100vh;
  min-height: var(--window-height, 100vh);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $color-white;
  -webkit-overflow-scrolling: touch;
}

html {
  &.overflow-hidden {
    overflow: hidden;
  }
}

body {
  overflow-x: hidden;
  @include typography-text;
  color: $color-blue-grey-800;
  --safe-area-inset-top: env(safe-area-inset-top);
  height: calc(100% + var(--safe-area-inset-top));
  min-width: 320px;

  &.overflow-hidden {
    overflow: hidden;
    height: var(--window-height, 100vh);
  }
}

a {
  text-decoration: none;
  color: $color-light-blue-600;
}

button {
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper {
    flex: 1;
  }
}

.color-blue-grey {
  color: $color-blue-grey-500;
}

.delimiter {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $color-blue-grey-200;
}
