@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-MediumItalic.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-Italic.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-Bold.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-Regular.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-Medium.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-BoldItalic.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-ThinItalic.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-Black.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-Light.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-LightItalic.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-BlackItalic.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/local/templates/main/fonts/Roboto-Thin.woff2') format('woff2'), url('/local/templates/main/fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
