@import '../grid';

@import '~bootstrap-4-grid/scss/grid/bootstrap-grid';
@import '~bootstrap-4-grid/scss/sizing/utilities/sizing';
@import '~bootstrap-4-grid/scss/layout/utilities/position';
@import '~bootstrap-4-grid/scss/layout/mixins/visibility';
@import '~bootstrap-4-grid/scss/layout/utilities/visibility';

.container {
  padding-left: 24px;
  padding-right: 24px;

  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
}
