@import '../typography';

.typography-h1 {
  @include typography-h1;
}

.typography-h2 {
  @include typography-h2;
}

.typography-h3 {
  @include typography-h3;
}

.typography-h4 {
  @include typography-h4;
}

.typography-h5 {
  @include typography-h5;
}

.typography-text {
  @include typography-text;
}
.typography-description {
  @include typography-description;
}
.typography-primary {
  font-family: $Fira-Sans;
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 1.6;
  color: $color-blue-grey-500;
}

.max-w-100 {
  max-width: 100px;
}

.max-w-200 {
  max-width: 200px;
}

.max-w-300 {
  max-width: 300px;
}

.max-w-400 {
  max-width: 400px;
}

.max-w-500 {
  max-width: 500px;
}

.max-w-600 {
  max-width: 600px;
}

.max-w-700 {
  max-width: 700px;
}

.max-w-800 {
  max-width: 800px;
}

.max-w-900 {
  max-width: 900px;
}

.max-w-1000 {
  max-width: 1000px;
}
