@mixin card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  word-wrap: break-word;
  box-sizing: border-box;
}

@mixin card-rounded {
  border-radius: 6px;
}
