@import 'variables';

@mixin _color-pallet($mainSelector, $property) {
  .#{$mainSelector} {
    &-white {
      #{$property}: $color-white;
    }

    &-blue-grey-50 {
       #{$property}: $color-blue-grey-50;
    }

    &-blue-grey-100 {
       #{$property}: $color-blue-grey-100;
    }

    &-blue-grey-500 {
      #{$property}: $color-blue-grey-500;
    }
  }
}
