$grid-breakpoints: (1180
        xxs  :  0,     // Base Mobile (iPhone 5) => 320px
        xs   :  375px, // iPhone 6, X
        xxsl :  568px, // xxs landscape
        xsl  :  667px, // xs landscape
        sm   : 768px,  // tablet
        md   : 1024px, // tablet landscape
        lg   : 1200px, // desktop
        xl   : 1440px, // desktop large
        xxl  : 1620px  // desktop wide
);

$container-max-widths: (
        md : 928px,
        lg : 1120px
);

$grid-columns: 12;
$grid-gutter-width: 32px;

$spacer: 8px;
$spacers: (0:0);
@for $i from 1 through 10 {
  $spacers: map-merge($spacers, (
    $i: ($i * $spacer)
  ));
}

@import '~bootstrap-4-grid/scss/breakpoints/mixins/breakpoints';
