@import '../utils/variables';
@import '../utils/grid';

@mixin p1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

@mixin p2 {
  font-size: 16px;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}

@mixin p3 {
  display: block;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

@mixin p4 {
  display: block;

  font-size: 11px;
  line-height: 1.5;

  @include media-breakpoint-up(xxsl) {
    font-size: 14px;
  }
}

@mixin list-item {
  padding-left: 0;

  li {
    display: flex;
    margin-bottom: 18px;

    font-size: 16px;
    line-height: 1.64;
    list-style: none;

    @include media-breakpoint-up(xxsl) {
      font-size: 18px;
    }

    &:before {
      content: '';

      display: block;
      flex: 0 0 8px;
      height: 8px;
      width: 8px;
      margin: 10px 16px 0 0;

      border-radius: 50%;
      background-color: $color-light-blue-600;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin checkbox {
  &>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &>span {
    display: flex;
    align-items: flex-start;
    user-select: none;
    line-height: 1.5;
  }

  &>span::before {
    content: '';

    position: relative;
    top: 3px;

    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 8px;

    background-color: $color-blue-grey-200;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: $color-blue-grey-200;
  }

  &>input:not(:disabled):active+span::before {
    background-color: $color-blue-grey-300;
    border-color: $color-blue-grey-300;
  }

  &>input:focus+span::before {
    box-shadow: 0 0 0 0.12px rgba(218, 226, 235, 0.25);
  }

  &>input:focus:not(:checked)+span::before {
    border-color:  $color-blue-grey-300;
  }

  &>input:checked+span::before {
    border-color: $color-light-blue-600;
    background-color: $color-light-blue-600;
    background-image: url("/local/templates/main/svg-icons/checkbox.svg");
    background-size: 12px;
  }

  &>input:disabled+span::before {
    background-color: #e9ecef;
  }
}

@mixin link-arrow {
  display: flex;
  align-items: center;

  &:after {
    content: "";

    display: block;
    margin-left: 6px;
    height: 12px;
    width: 15px;
    background: url("/local/templates/main/svg-icons/link-arrow.svg") no-repeat;
  }
}

@mixin text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin base-container-spacing {
  padding-bottom: 48px;

  @include media-breakpoint-up(md) {
    padding-bottom: 120px;
  }
}

@mixin disable-top-margin-in-f-and-l-content-el {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}

@mixin hide-text-webkit($rows) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
}

