@import 'grid';
@import 'variables';

@mixin typography-h1-main {
  font-weight: $fw-bold;
  font-size: 24px;
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 48px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 40px;
    line-height: 48px;
  }
}

@mixin typography-h1 {
  font-weight: $fw-bold;
  font-size: 24px;
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 48px;
  }
}

@mixin typography-h2 {
  font-weight: $fw-medium;
  font-size: 20px;
  line-height: 33px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin typography-h3 {
  font-weight: $fw-medium;
  font-size: 16px;
  line-height: 24px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 27px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 33px;
  }
}

@mixin typography-h4 {
  font-weight: $fw-medium;
  font-size: 16px;
  line-height: 24px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 27px;
  }
}

@mixin typography-h5 {
  font-weight: $fw-medium;
  font-size: 16px;
  line-height: 24px;
}

@mixin typography-description {
  font-family: $Fira-Sans;
  font-weight: $fw-regular;
  line-height: 1.6;
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}

@mixin typography-text {
  font-family: $Fira-Sans;
  font-weight: $fw-regular;
  font-size: 16px;
  line-height: 24px;
}

@mixin typography-card-description {
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 23px;
}
