// Color Pallet
$color-white: #fff;
$color-black: #000;

$color-blue-grey-50: #F8FAFC;
$color-blue-grey-100: #F1F5F9;
$color-blue-grey-200: #E2E8F0;
$color-blue-grey-300: #CBD5E1;
$color-blue-grey-400: #94A3B8;
$color-blue-grey-500: #64748B;
$color-blue-grey-600: #475569;
$color-blue-grey-700: #334155;
$color-blue-grey-800: #1E293B;

$color-light-blue-50: #F0F9FF;
$color-light-blue-500: #0EA5E9;
$color-light-blue-600: #0284C7;

$color-red-600: #DC2626;

$color-emerald-600: #059669;

$color-amber-500: #F59E0B;

$color-green-600: #16A34A;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// Margins

// Paddings

// IMG URL PATH
$imgUrl: '/local/templates/main/images';

// Fonts
$Fira-Sans: 'Fira Sans';

$base-transition-time: 200ms;
